{% load staticfiles %}
<!DOCTYPE html>
<html>
    <style type='text/css'>
        textarea {
            white-space: nowrap;
            overflow-wrap: normal;
            overflow-y:  hidden;
            overflow-x:  hidden;
        }
    </style>
    <body ng-app="recipes">
        {% verbatim %}
        <div ng-controller="RecipesController">
            <button ng-click="add()" ng-show="show.view_recipes">add recipe</button>
            <add-recipe></add-recipe>
            <div ng-repeat="recipe in recipes" ng-show="show.view_recipes">
                <view-recipe></view-recipe>
                
            </div>
        </div>
        {% endverbatim %}
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
        <script src="{% static "recipes\recipes.js" %}"></script>
        <script src="{% static "recipes\view_recipe.directive.js" %}"></script>
        <script src="{% static "recipes\add_recipe.directive.js" %}"></script>
    </body>
</html>