{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="recipes">
    <style type='text/css'>
        textarea {
            white-space: nowrap;
            overflow-wrap: normal;
            overflow-y:  hidden;
            overflow-x:  hidden;
        }
    </style>
    <body>
        <div class="container">
            <div class="navbar">
                <ul class="nav">
                    <li><a href="#!/addRecipe">Add recipe</a></li>
                </ul>
            </div>
        </div>
        <ng-view></ng-view>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.min.js"></script>
        <script src="{% static "recipes\js\app.js" %}"></script>
        <script src="{% static "recipes\js\MyRecipesController.js" %}"></script>
        <script src="{% static "recipes\js\AddRecipeController.js" %}"></script>
        <script src="{% static "recipes\js\view-recipe.directive.js" %}"></script>
        <script src="{% static "recipes\js\add-recipe.directive.js" %}"></script>
    </body>
</html>