html,
body {
    height: 100%
}

nav li {
    list-style: none;
}

thead th {
    text-align: center;
}

#mainContainer {
    margin-top: 10%;
}

.centered {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear {
    clear: both;
}

.modal-close-button {
    float: right;
}

.multi-link > a {
    margin-left: 20px;
    color: black;
    text-decoration: none;
}

.multi-link > .right-button {
    float: right;
    margin-right: 5px;
}

.recipe-span {
    display: inline-flex;
}

.recipe-tile {
    display: inline-table;
    margin: 15px;
}

.recipe-tile img {
    max-width: 200px;
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.table-row {
    position: relative;
    height: 100%;
    width: 100%;
}
.table-row-selected {
    background-color: rgba(225, 144, 22, 0.272) !important;
}