html,
body {
    height: 100%
}

nav li {
    list-style: none;
}

thead th {
    text-align: center;
}

#mainContainer {
    margin-top: 10%;
}

.centered {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear {
    clear: both;
}

.modal-close-button {
    float: right;
}

.recipeTile {
    display: inline;
}

.recipeTile img {
    max-width: 200px;
    max-height: 150px;
}

.table-row {
    position: relative;
    height: 100%;
    width: 100%;
}
.table-row-selected {
    background-color: rgba(225, 144, 22, 0.272) !important;
}