{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="recipes" ng-strict-di>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static "css\recipes.css" %}">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <span class="navbar-brand">Recipes</span>
                </div>
                <div ng-controller="NavbarController">
                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="nav navbar-nav" ng-show="isLoggedIn">
                            <li>
                                <a href="#!/myrecipes/">My Recipes</a>
                            </li>
                            <li>
                                <a href="#!/addRecipe/">Add Recipe</a>
                            </li>
                            <li>
                                <a href="#!/allRecipes/">All Recipes</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" target="_self" class="dropdown-toggle" role="button" aria-expanded="true" aria-haspopup="true" data-toggle="dropdown">
                                    Bookmarks
                                    <span class="caret"></span>
                                </a>
                                {% verbatim %}
                                <ul class="dropdown-menu" ng-controller="BookmarksController">
                                    <li><a href ng-click="add()">add bookmark</a></li>
                                    <li><a href ng-click="editAll()">edit bookmarks</a></li>
                                    <li class="divider" role="separator"></li>
                                    <li class="dropdown-header">links</li>
                                    <li ng-repeat="bookmark in bookmarks.shared track by $index"><a href="{{bookmark.url}}" target="_blank">{{bookmark.name}}</a></li>
                                </ul>
                                {% endverbatim %}
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" ng-show="isLoggedIn">
                            <li class="active">
                                <a href ng-click="logout()">logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container" id="mainContainer">
            <ng-view></ng-view>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-touch.min.js"></script>
        <script src="https://cdn.rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-2.5.0.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="{% static "js\app.js" %}"></script>
        <script src="{% static "js\user.service.js" %}"></script>
        <script src="{% static "js\recipes.service.js" %}"></script>
        <script src="{% static "js\NavbarController.js" %}"></script>
        <script src="{% static "js\LoginController.js" %}"></script>
        <script src="{% static "js\BookmarksController.js" %}"></script>
        <script src="{% static "js\RecipesController.js" %}"></script>
        <script src="{% static "js\AddRecipeController.js" %}"></script>
        <script src="{% static "js\saveScrollPosition.directive.js" %}"></script>
        <script src="{% static "js\view-recipe.directive.js" %}"></script>
        <script src="{% static "js\add-recipe.directive.js" %}"></script>
        <script src="{% static "js\imageDrop.directive.js" %}"></script>
        <script src="{% static "js\imageRead.directive.js" %}"></script>
    </body>
</html>