<h3>{{title}}</h3>
<br />
<label>sort:</label><br />
<select ng-model="sortOrder">
    <option value="+name">name</option>
    <option value="-modified">recently modified</option>
    <option value="+created">oldest</option>
</select>
<input type="checkbox" ng-model="reverse" />
<span>reverse</span><br />
<label>filter:</label><br />
<input type="text" ng-model="byText">
<div ng-repeat="recipe in recipes | filter:tagFilter | filter: byText | orderBy:sortOrder:reverse">
    <recipe-tile></recipe-tile>
</div>